<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.userservice.repository.mapper.user.CustomerMapper">
    <resultMap id="CustomerResultMap" type="com.example.userservice.model.user.Customer">
        <id property="customerId" column="customer_id" jdbcType="BIGINT"></id>
    </resultMap>

    <insert id="insertOneCustomer" parameterType="com.example.userservice.model.user.Customer" keyProperty="customerId" keyColumn="customer_id">
        insert into customer(customer_id) values (#{customerId})
    </insert>

    <select id="searchUserWithAllInfoByUsername" parameterType="string" resultMap="CustomerResultMap">
        select user_table.user_id , username, user_communication_info_table.user_communication_info_id, email, phone_number, address  from user_table left join user_to_user_communication_info_table on user_table.user_id = user_to_user_communication_info_table.user_id left join user_communication_info_table on user_to_user_communication_info_table.user_communication_info_id = user_communication_info_table.user_communication_info_id where username = #{username}
    </select>
</mapper>