<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.userservice.repository.mapper.UserBasicInfoMapper">
    <resultMap id="UserBasicInfoResultMap" type="com.example.userservice.model.user.info.basic.UserBasicInfo">
        <id property="userBasicInfoId" column="user_basic_info_id" jdbcType="BIGINT"></id>
        <result property="username" column="username" jdbcType="VARCHAR"></result>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"></result>
        <result property="idCardNumber" column="phone_number" jdbcType="VARCHAR"></result>
        <result property="email" column="phone_number" jdbcType="VARCHAR"></result>
        <association property="user" column="user_id"></association>
    </resultMap>
    <insert id="insertUser">
        insert into user_table(user_id,username) values (#{userId},#{username})
    </insert>

    <select id="searchUserWithAllInfoByUsername" parameterType="string" resultMap="UserBasicInfoResultMap">
        select user_table.user_id , username, user_communication_info_table.user_communication_info_id, email, phone_number, address  from user_table left join user_to_user_communication_info_table on user_table.user_id = user_to_user_communication_info_table.user_id left join user_communication_info_table on user_to_user_communication_info_table.user_communication_info_id = user_communication_info_table.user_communication_info_id where username = #{username}
    </select>
    <select id="searchUserWithNoOtherInfoByUsername" parameterType="string" resultMap="UserBasicInfoResultMap">
        select user_id, username  from user_table  where username = #{username}
    </select>
    <select id="searchUserWithNoOtherInfoByUserId" parameterType="string" resultMap="UserBasicInfoResultMap"  >
        select user_id, username  from user_table  where user_Id = #{userId}
    </select>
</mapper>